requirements/
deploy.conf
backend.env
deploy.conf.example
backend.env.example

backend/core/settings.py
backend/.venv/
staticfiles/
docs/
develop/
__pycache__/
backend/*.csv
instructions/
files_for_test/
tmp/
